{% extends "./base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}

<div class="container d-flex flex-column align-items-center mt-3">
  <h1>Inicia Sesión</h1>
</div>

<div class="container d-flex flex-column align-items-center mt-4">
  <div class="row align-items-start">
    <div class="col">
      <div class="container d-flex flex-column align-items-start">
        <h2>Clientes Registrados</h2>
        <h6>Si tiene una cuenta, inicie sesión con su dirección de correo electrónico.</h6>
      </div>
      <div class="container mt-3">
        <form action="" id="miFormulario">
          <div class="form-group">
            <label for="txtCorreo">Correo Electronico:</label>
            <input name="txtCorreo" type="mail" class="form-control" placeholder="Ejemplo@ejemplo.com" id="txtCorreo">
            <br>
            <label for="txtContraseña">Ingrese Contraseña</label>
            <input name="txtContraseña" type="password" class="form-control" placeholder="123456" id="txtContraseña">
          </div>
          <button class="btn btn-primary mt-3">Iniciar Sesión</button>
        </form>
      </div>
    </div>
    <div class="col d-flex flex-column align-items-start">
      <h2>Nuevos Clientes.</h2>
      <h6>Crear una cuenta tiene muchos beneficios: Pago más rápido, guardar más de una dirección, seguimiento de
        pedidos y mucho más.</h6>
      <p></p>
      <a href="Registrate.html"><button type="button" class="btn btn-primary">Crear Cuenta</button></a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}