{% extends "./base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}

<div class="container d-flex flex-column align-items-center mt-3">
    <h1>Nuestros Productos</h1>
</div>

    <div class="container mt-3">
        <h1 class="noSelect">Esto es una prueba</h1>
      {% for p in prod %}
      <div class="card" style="width: 18rem;">
          <img src="{{p.imagen}}" class="card-img-top noSelect" alt="...">
          <div class="card-body">
              <h5 class="card-title">{{p.nombre}}</h5>
              <h2 class="card-text">${{p.precio}}</h2>
              <p class="card-text">{{p.descripcion}}</p>
              <a href="#" class="btn btn-primary">Agregar</a>
          </div>
      </div>
      {% endfor %}
  </div>
  
{% endblock %}